<section class="content">

    <div class="block-header">
        <div class="row">


        </div>
    </div>
    <div class="container-fluid">
        <!-- Advanced Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="left">
                                <h2>{{ 'FICHE.TITLE' | translate }} </h2>
                            </ng-template>
                            <ng-template pTemplate="right">
                                <button pButton pRipple label="{{ 'HEADER.ADD' | translate }}" icon="pi pi-plus"
                                    class="p-button-success p-mr-2"
                                    (click)="ngxSmartModalService.getModal('myModal').open()"></button>
                                <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
                            </ng-template>
                        </p-toolbar>
                        <p-table #dt2 [value]="fiches" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="{{ 'Users.PaginationShowing' | translate}} {first} {{ 'Users.PaginationTo' | translate}} {last}  {{ 'Users.PaginationOf' | translate}}  {totalRecords} {{ 'Users.PaginationEntries' | translate}} "
                            [globalFilterFields]="['date','user.name','company.label']"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{myDate | date:'yyyy-MM-dd'}}
                                    </div>
                                    <div class="col-md-3 offset-md-6" style="text-align: right;">
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th> {{ 'FICHE.RESPONSIBLENAME' | translate }}   </th>
                                    <th> {{ 'FICHE.UNCERTICIDE' | translate }}
                                    </th>
                                    <th>
                                        {{ 'FICHE.SUPERVISORNAME' | translate }}
                                    </th>
                                    <th>
                                        {{ 'FICHE.OBSERVATIONS' | translate }}
                                    </th>
                                    <th>
                                        {{ 'FICHE.ARRIVALTIME' | translate }}
                                    </th>
                                    <th>
                                        {{ 'FICHE.DEPARTURETIME' | translate }}
                                    </th>
                                    <th>
                                        {{ 'HEADER.ACTION' | translate }}
                                    </th>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-file>
                                <tr>
                                    <td>{{file.nresponsable}}</td>
                                    <td>{{file.incerticide}}</td>
                                    <td>{{file.nencadreur}}</td>
                                    <td>{{file.observations}}</td>
                                    <td>{{file.harrive}}</td>
                                    <td>{{file.hdepart}}</td>

                                    <td> <a (click)="remove(file.id)"><i class="la la-close delete"></i></a> </td>
                                    <td> <a mat-button
                                            [routerLink]="['template/deratisation', file.id,file.company.id]">
                                            deratisation</a></td>
                                    <td> <a mat-button
                                            [routerLink]="['template/desinsectisation', file.id,file.company.id]">
                                            desinsectisation</a></td>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Basic Modal -->
        <ngx-smart-modal #myModal identifier="myModal">
            <h1>Title</h1>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nresponsable">Nom responsable</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.nresponsable"
                        #label="ngModel" required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">Nom responsable is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="incerticide">incerticide</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.incerticide" #label="ngModel"
                        required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">incerticide is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nencadreur">Nom encadreur</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.nencadreur" #label="ngModel"
                        required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">Nom encadreur is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="observations">observations</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.observations"
                        #label="ngModel" required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">observations is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Harrive">Harrive</label>
                    <input type="time" class="form-control" name="label" min="08:00" max="18:00"
                        [(ngModel)]="form.harrive" #label="ngModel" required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">Harrive is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hdepart">hdepart</label>
                    <input type="time" class="form-control" name="label" min="08:00" max="18:00"
                        [(ngModel)]="form.hdepart" #label="ngModel" required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">Harrive is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Ajouter</button>
                    <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                        erreur!<br />{{errorMessage}}
                    </div>
                </div>
            </form>
            <button (click)="myModal.close()">Close</button>
        </ngx-smart-modal>
    </div>
    <!-- End Basic Modal -->


</section>