<section class="content">

    <div class="block-header">
        <div class="row">


        </div>
    </div>
    <div class="container-fluid">
        <!-- Advanced Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div *ngIf="isLoading == true" class="body">
                        <div *ngIf="dateList.length>0"> 
                            <p-toolbar styleClass="p-mb-4">
                                <ng-template pTemplate="left">
                                    <h2>{{ 'FICHE.TITLE' | translate }} </h2>
                                </ng-template>
                                <ng-template pTemplate="right">
                                    <button pButton pRipple label="{{ 'HEADER.ADD' | translate }}" icon="pi pi-plus"
                                        class="p-button-success p-mr-2"
                                        (click)="ngxSmartModalService.getModal('myModal').open()"></button>
                                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
                                </ng-template>
                            </p-toolbar>
                            <p-table #dt2 [value]="fiches" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                                currentPageReportTemplate="{{ 'Users.PaginationShowing' | translate}} {first} {{ 'Users.PaginationTo' | translate}} {last}  {{ 'Users.PaginationOf' | translate}}  {totalRecords} {{ 'Users.PaginationEntries' | translate}} "
                                [globalFilterFields]="['date','user.name','company.label']"
                                [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{myDate | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="col-md-3 offset-md-6" style="text-align: right;">
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th> {{ 'FICHE.RESPONSIBLENAME' | translate }} </th>
                                        <th> {{ 'FICHE.UNCERTICIDE' | translate }}
                                        </th> 
                                        <th>
                                            {{ 'FICHE.OBSERVATIONS' | translate }}
                                        </th>
                                        <th>
                                            {{ 'FICHE.ARRIVALTIME' | translate }}
                                        </th>
                                        <th>
                                            {{ 'FICHE.DEPARTURETIME' | translate }}
                                        </th>
                                        <th>
                                            {{ 'HEADER.ACTION' | translate }}
                                        </th>
                                        <th>
                                            Deratisation
                                        </th>
                                        <th>
                                            Desinsectisation
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-file>
                                    <tr>
                                        <td>{{file.nresponsable}}</td>
                                        <td>{{file.incerticide}}</td>
                                         <td>{{file.observations}}</td>
                                        <td>{{file.harrive}}</td>
                                        <td>{{file.hdepart}}</td>

                                        <td> <a (click)="remove(file.id)"><i class="la la-close delete pointer"></i></a>
                                        </td>
                                        <td>
                                            <button pButton pRipple label=" Ajouter" icon="pi pi-plus"
                                                class="p-button-success p-mr-2"
                                                [routerLink]="['template/deratisation', file.id,file.company.id]"></button>
                                        </td>
                                        <td>
                                            <button pButton pRipple label=" Ajouter" icon="pi pi-plus"
                                                class="p-button-success p-mr-2"
                                                [routerLink]="['template/desinsectisation', file.id,file.company.id]"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table> 
                        </div> 
                        <div class="msg-alert" *ngIf="dateList.length==0">
                            il faut scanner les QR Code avant de créer une fiche de passage
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Basic Modal -->
        <ngx-smart-modal #myModal identifier="myModal">
            <h1>Fiche</h1>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nresponsable">Nom responsable</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.nresponsable"
                        #label="ngModel" required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">Nom responsable is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="incerticide">insecticde</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.incerticide" #label="ngModel"
                        required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">insecticde is required</div>
                    </div> 
                </div>
            
                <div class="form-group">
                    <label for="observations">observations</label>
                    <input type="text" class="form-control" name="label" [(ngModel)]="form.observations"
                        #label="ngModel" required />
                    <div *ngIf="f.submitted && label.invalid">
                        <div *ngIf="label.errors.required">observations is required</div>
                    </div>
                </div>


                <div class="form-group">
                    <button class="btn btn-primary">Ajouter</button>
                    <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                        erreur!<br />{{errorMessage}}
                    </div>
                </div>
            </form>
        </ngx-smart-modal>
    </div>
    <!-- End Basic Modal -->


</section>