<section class="content">

    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">

            </div>
        </div>
    </div>



    <div class="row flex-row">
        <div class="my-sites-component col-md-12">
            <div class="widget widget-07 has-shadow">


                <div class="card">
                    <div class="body">
                        <p-toolbar styleClass="p-mb-4">
                            <ng-template pTemplate="left">
                                <h2>Fiche List
                                </h2>
                            </ng-template>


                            <ng-template pTemplate="right">

                                <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
                            </ng-template>
                        </p-toolbar>

                        <p-table #dt2 [value]="filterNewData" [paginator]="true" [rows]="5"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="{{ 'Users.PaginationShowing' | translate}} {first} {{ 'Users.PaginationTo' | translate}} {last}  {{ 'Users.PaginationOf' | translate}}  {totalRecords} {{ 'Users.PaginationEntries' | translate}} "
                            [globalFilterFields]="['calendar.company.label','calendar.date' ]" [rowsPerPageOptions]="[05,10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button pButton label="{{ 'Users.Clear' | translate}} "
                                            class="p-button-outlined" icon="pi pi-filter-slash"
                                            (click)="clear(dt2, gb)"></button>
                                    </div>
                                    <div class="col-md-3 offset-md-6" style="text-align: right;">
                                        <span class="p-input-icon-left p-ml-auto">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" #gb
                                                (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Search" />
                                        </span>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>

                                    <th pSortableColumn="calendar.company.label"> company <p-sortIcon field="calendar.company.label"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="calendar.date"> date <p-sortIcon field="calendar.date"></p-sortIcon>
                                    </th>
                                    <th  > utilisateur name  

                                    </th>
                                    <th>
                                        heure arriver
                                    </th>
                                    <th>
                                        heure depart
                                    </th>
                                    <th>
                                        incerticide
                                    </th>
                                    <th>
                                        name encadreur
                                    </th>
                                    <th>
                                        name responsable
                                    </th>
                                    <th>
                                        observations
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-file>
                                <tr>

                                    <td>{{file.calendar.company.label}}</td>

                                    <td>{{file.calendar.date}}</td>
                                    <td>{{file.user.name}}</td>

                                    <td>{{file.harrive}}</td>
                                    <td>{{file.hdepart}}</td>

                                    <td>{{file.incerticide}}</td>
                                    <td>{{file.nencadreur}}</td>

                                    <td>{{file.nresponsable}}</td>
                                    <td>{{file.observations}}</td>

                                    <td *ngFor="let desinsectisations of file.deratisation">
                                        {{desinsectisations.locaux.name}}
                                        {{desinsectisations.acceder}}
                                        {{desinsectisations.false}}
                                    </td>
                                    <td> ***** </td>
                                    <td *ngFor="let desinsectisations of file.desinsectisation">
                                        {{desinsectisations.locaux.name}}
                                        {{desinsectisations.acceder}}
                                        {{desinsectisations.false}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>