<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">{{ 'COMPANY.TITLE' | translate }}</h2>
            <div>
                <!-- <ul class="breadcrumb">
            <li class="breadcrumb-item">home</li><h2>{{ 'COMPANY.TITLE' | translate }} <h2>
            <li class="breadcrumb-item"><i class="ti ti-home"></i></li>
          </ul> -->
            </div>
        </div>
    </div>
</div>
 
<div class="row flex-row">
    <div class="my-sites-component col-md-12">
        <div class="widget widget-07 has-shadow">
            <div class="widget-header">
                 
            </div>
            <div class="table-responsive table-scroll padding-right-10"  >



                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                      <h2>Entreprise
                      </h2>
                    </ng-template>
      
      
                    <ng-template pTemplate="right">
                      <button pButton pRipple label="{{ 'HEADER.ADD' | translate }}" icon="pi pi-plus"
                        class="p-button-success p-mr-2" (click)="ngxSmartModalService.getModal('myModal').open()"></button>
                      <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
                    </ng-template>
                  </p-toolbar>



                <p-table #dt2 [value]="filterData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="{{ 'Users.PaginationShowing' | translate}} {first} {{ 'Users.PaginationTo' | translate}} {last}  {{ 'Users.PaginationOf' | translate}}  {totalRecords} {{ 'Users.PaginationEntries' | translate}} "
                    [globalFilterFields]="['label','address']" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-3">
                                <button pButton label="{{ 'Users.Clear' | translate}} " class="p-button-outlined"
                                    icon="pi pi-filter-slash" (click)="clear(dt2)"></button>
                            </div>
                            <div class="col-md-3 offset-md-6" style="text-align: right;">
                                <span class="p-input-icon-left p-ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                        placeholder="{{ 'Users.TableSearch' | translate}}" />
                                </span>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="label">{{ 'COMPANY.NAME' | translate }}<p-sortIcon field="label">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="address"> {{ 'COMPANY.ADDRESS' | translate }} <p-sortIcon field="address"></p-sortIcon>
                            </th> 
                            <th> List de fiche</th>
                            <th> {{ 'HEADER.ADD' | translate }} </th>
                            <th> {{ 'HEADER.REMOVE' | translate }} </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-file>
                        <tr>
                            <td>{{file.label}}</td>
                            <td>{{file.address}}</td>
                            <td>
                              
                                <button pButton pRipple label="Afficher" icon="la la-folder-open"
                                class="p-button-success p-mr-2" [routerLink]="['template/fiche', file.id]"
                                ></button>
                            </td>

                            <td>
                                
                                <button pButton pRipple label=" Ajouter des locaux" icon="pi pi-plus"
                                class="p-button-success p-mr-2" [routerLink]="['template/locaux', file.id]"
                                ></button>
                              
                                

                            </td>

                            <td>

                                <a (click)="remove(file.id)"><i class="la la-close delete pointer"></i></a>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
 
            </div>
        </div>
    </div>
</div>




<ngx-smart-modal #myModal identifier="myModal">
    <h1> Ajouter une entreprise </h1>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class=" col-sm-12">
            <label for="label"> Nom d'entreprise </label>
            <input type="text" class="form-control" name="label" [(ngModel)]="form.label" #label="ngModel" required />
            <div *ngIf="f.submitted && label.invalid">
                <div *ngIf="label.errors.required">{{ 'COMPANY.ADD' | translate }} {{ 'HEADER.ISREQUIRED' | translate }}
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <label for="address"> {{ 'COMPANY.ADDRESS' | translate }} </label>
            <input type="text" class="form-control" name="address" [(ngModel)]="form.address" #address="ngModel"
                required />
            <div *ngIf="f.submitted && address.invalid">
                <div *ngIf="address.errors.required">{{ 'COMPANY.ADDRESS' | translate }} {{ 'HEADER.ISREQUIRED' |
                    translate }} </div>
            </div>
        </div>


        <div class="col-sm-12">
            <label for="firstLastName">Nom d'utilisateur  </label>
            <input type="text" class="form-control" name="firstLastName" [(ngModel)]="form.firstLastName" #firstLastName="ngModel"
                required />
            <div *ngIf="f.submitted && firstLastName.invalid">
                <div *ngIf="firstLastName.errors.required">Nom d'utilisateur  {{ 'HEADER.ISREQUIRED' |
                    translate }} </div>
            </div>
        </div>
 
        <div class="col-sm-12">
            <label for="username">Pseudo  </label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                required />
            <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Pseudo  {{ 'HEADER.ISREQUIRED' |
                    translate }} </div>
            </div>
        </div>

        <div class="col-sm-12">
            <label for="email"> {{ 'MEMBER.EMAIL' | translate }} </label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required
                email />
            <div *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required"> {{ 'MEMBER.EMAIL' | translate }} {{ 'HEADER.ISREQUIRED' |
                    translate
                    }}
                </div>
                <div *ngIf="email.errors.email">{{ 'MEMBER.EMAILVALID' | translate }} </div>
            </div>
        </div>   


        <div class="padding-button-add col-sm-12">
            <button class="btn btn-primary">{{ 'HEADER.ADD' | translate }}</button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                erreur!<br />{{errorMessage}}
            </div>
        </div>
    </form>
</ngx-smart-modal> 