.table thead th {
    vertical-align: middle;
    border: 0 none;
    padding: 20px 12px 20px 12px;
    color: #fff;
    font-weight: 600;
}


thead{ 
    background-color: #2980ba;
}

.msg-alert { 
    min-height: 200px;
    text-align-last: center;
    color: black;
    font-size: 24px;
    padding-top: 80px;
  }